.senior-software {
    width: 384px;
    height: 116px;
    gap: 16px;
    }
    
    .mini-smal-div {
     width: 150px;
    height: 24px;
    margin-left: 90px;
    }
    
    .senior-software h4 {
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    width: 384px;
    height: 28px;
    margin-left: -22px;
    }
    
    
    .lu-link li {
    width: 384px;
    height: 72px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: -14px;
    }
    .mini-smal-div h5  {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    width: 150px;
    height: 24px;
    }
    
    
    
    .right-diiv {
        width: 576px;
        height: 480px;
        padding: 48px;
        border-radius: 12px, 0px, 0px, 12px;
        gap: 24px;
        // background-color: bisque;
        }
        
        .right-diiv h4 {
        width: 480px;
        height: 28px;
        font-family: Inter;
        font-size: 20px;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
        }
        
        .right-diiv p {
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        width: 480px;
        height: 96px;
        }
    
        .uzum-location-img img  {
            margin: auto;
            margin-top: 45px;
            margin-left: 30px;
        }
    
        .online-english {
    width: 1152px;
    height: 480px;
    border-radius: 12px;
    // background-color: chartreuse;
    margin: auto;
    margin-top: 70px;
    display: flex;
        }
    
        .english-1 {
            width: 576px;
    height: 480px;
    padding: 48px;
    border-radius: 12px, 0px, 0px, 12px;
    border: 0px, 1px, 0px, 0px;
    // background-color: brown;
        }
    
    
    .english-2 {
    width: 576px;
    height: 480px;
    padding: 48px;
    border-radius: 12px, 0px, 0px, 12px;
    gap: 24px;
    background-color: chartreuse;
    }
    
    .english-2 h5 {
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    width: 480px;
    height: 28px;
    }
    
    .english-2 p {
    width: 480px;
    height: 96px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    }
    
    
    .Testimonials{
    width: 1280px;
    height: 100%;
    padding: 96px, 80px, 96px, 80px;
    // background-color: chartreuse;
    margin: auto;
    }
    
    .mini-div-5 {
    width: 1280px;
    height: 548px;
    padding: 0px, 32px, 0px, 32px;
    gap: 48px;
    // background-color: darkolivegreen;
    margin-top: 50px;
    }
    
    .div-butuns {
    width: 1216px;
    height: 72px;
    gap: 16px;
    // background-color: green;
    margin: auto;
    text-align: center;
    }
    
    .div-butuns p {
    width: 576px;
    height: 28px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    margin: auto;
    margin-top: 19px;
    }
    
    .for-cards {
    width: 1216px;
    height: 428px;
    border-radius: 12px;
    gap: 48px;
    // background-color: cyan;
    margin: auto;
    display: flex;
    gap: 24px;
    }
    
    
    .divs-1{
    width: 373.33px;
    height: 428px;
    padding: 48px;
    border-radius: 12px;
    border: 0px, 1px, 0px, 0px;
    gap: 24px;
    background: rgba(255, 255, 255, 1);
    
    }
    
    .divs-2 {
     width: 373.33px;
    height: 428px;
    padding: 48px;
    border-radius: 12px;
    border: 0px, 1px, 0px, 0px;
    gap: 24px;
    background: rgba(255, 255, 255, 1);
    }
    
    .divs-3 {
    width: 373.33px;
    height: 428px;
    padding: 48px;
    border-radius: 12px;
    border: 0px, 1px, 0px, 0px;
    gap: 24px;
    background: rgba(255, 255, 255, 1);
    }
    
    .divs-1 img {
        margin: auto;
        margin-left: 94px;
    }
    
    .divs-1 p {
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    width: 277.33px;
    height: 120px;
    margin-top: 15px;
    }
    
    .divs-1 strong {
    margin-left: 50px;
    width: 277.33px;
    height: 28px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    }
    
    .divs-1 p {
    width: 277.33px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    margin-top: 17px;  
    }
    
    
    .divs-2 img {
        margin-left: 94px;
        width: 64px;
        height: 64px;
        border-radius: 64px;    
    }
    
    .divs-2 p {
        width: 277.33px;
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        margin-top: 17px;  
    }
    
    .divs-1 h6 {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    width: 277.33px;
    height: 20px;
    }
    
    .div-34 {
        width: 277.33px;
    height: 52px;
    gap: 4px;
    // background-color: black; 
    margin-top: 57px;
    }
    
    
    .div-34 strong {
        margin: auto;
        margin-left: 42px;
    }
    
    .div-34 h6 {
        margin-left: 42px;
        margin-top: 0px;
    }
    